button {
  border: none;
  cursor: pointer;
}

.fa-shopping-cart {
  padding: 12px 40px;
  border-radius: 50px;
  font-size: 20px;
  background-color: #edf0f1;
  color: #26547c;
  transition: all 0.3s ease 0s;
}

.fa-shopping-cart:hover {
  background-color: #64f58d;
}
